@import url("https://fonts.googleapis.com/css?family=Montserrat:500,600,700&display=swap");

@font-face {
	font-family: 'Avenir';
	src: url(@/scss/assets/AvenirNextCyr-Medium.woff) format('woff');

	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Avenir';
	src: url(@/scss/assets/AvenirNextCyr-Demi.woff) format('woff');

	font-weight: 600;
	font-style: normal;
 }