.Button {
	$p: &;

	display: flex;

	transition: color $primaryTransition;
	&_right {
		#{$p} {
			&__icon {
				transform: rotate(180deg);
			}
		} 
	}

	&:hover {
		color: $discountColor;
	}

	&__icon {
		flex: 0 0 auto;
	}
}