.Button {
	$p: &;

	display: flex;
	&_right {
		#{$p} {
			&__icon {
				transform: rotate(180deg);
			}
		} 
	}

	&:hover {
		color: $lightPurpleColor;
	}

	&__icon {
		flex: 0 0 auto;

		color: #fff;
	}
}