.HeaderMenu {
	position: fixed;
	z-index: $headerMenuZIndex;
	top: 0;
	right: -100%;

	width: min(100%, rem(468));
	height: 100%;

	// padding: rem(58.87 + 84.98) rem(20) rem(20) rem(66);
	padding-top: rem(82);
	padding-right: rem(20);
	padding-bottom: rem(20);
	padding-left: rem(64);


	transition: right $primaryTransition;

	background-color: #000;

	&_open {
		right: 0;
	}

	&__viewCart {
		margin-top: rem(45);
		margin-bottom: rem(37);
	}

	&__nav {
		margin-bottom: rem(40);

	}

	&__addressList {
		margin-bottom: rem(40);
	}

	&__socialNetworkList {
		margin-bottom: rem(74);
	}

	&__scrollContainer {
		overflow-y: auto;

		height: 100%;

		scrollbar-width: thin; /* Толщина полосы: thin, auto или none */
		scrollbar-color: #888888 #f0f0f0; /* Цвет полосы и фона */
	}
}