.MainPage {
	&__viewCart {
		position: fixed;
		z-index: $viewCartZIndex;
		right: rem(20);
		bottom: rem(60);
	}

	&__carrouselSection {
		margin-bottom: rem(64);
	}


	@media (min-width: em($tablet)) {
		padding-top: rem(126.77);
	}

	@media (max-width: em($tablet)) {
		padding-top: rem(84.98);
	}
}