.ToCart {
	align-items: center;
	column-gap: rem(13);

	transition: border $primaryTransition;
	
	&__bold {
		display: inline-block;

		word-wrap: break-word;

		font-weight: 700;
	}

	&__text {
		font-size: rem(15);
	}

	&__icon {
		flex: 0 0 auto;
	}
	&:hover {
		border: rem(2) solid #52FC96;
	}
}