.ViewCart {
	display: inline-flex;
	align-items: center;

	padding: rem(3) rem(16) rem(3) rem(5);

	transition: background-color $primaryTransition;

	border: rem(1) solid #fff;

	border-radius: rem(21);
	background-color: #000;

	font-size: rem(13);
	column-gap: rem(11);

	&:hover {
		background-color: $redColor;
	}

	&__count {
		display: inline-flex;
		align-items: center;
		justify-content: center;

		min-width: rem(19);
		height: rem(19);
		padding: 0 rem(2);

		border-radius: rem(8);
		background-color: #D71515;
	}
}