.Header {
	position: fixed;
	z-index: $headerZIndex;
	top: 0;
	left: 0;

	width: 100%;

	background-color: #000;

	// &:before {
	// 	position: absolute;
	// 	bottom: 0;
	// 	left: 50%;

	// 	width: 80%;
	// 	height: rem(1);

	// 	content: "";
	// 	transform: translateX(-50%);

	// 	background-color: $discountColor;
	// }

	&__viewCart {

	}

	&__logo {
		

		@media (min-width: em($tablet)) {
			margin-left: rem(27.07);
		}
	}

	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	@media (min-width: em($tablet)) {
		padding-top: rem(35);
		padding-bottom: rem(19.36);
	}

	@media (max-width: em($tablet)) {
		padding-top: rem(20);
		padding-bottom: rem(13.87);
	}
}

