.CartMenu {
	position: fixed;
	z-index: $cartMenuZIndex;
	top: 0;
	right: -100%;

	display: flex;
	flex-direction: column;

	width: min(100%, rem(468));

	height: 100%;

	padding: 0 rem(28) rem(190) rem(30);

	transition: right $primaryTransition;

	background-color: #000;

	font-family: "Avenir";

	

	&__title {
		font-size: rem(36);
		font-weight: 600;
	}

	&__close {
		transform: rotate(45deg);

		font-size: rem(45);
		&:hover {
			color: $lightPurpleColor;
		}
	}

	&__top {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__list {
		display: flex;

		overflow: auto;
		flex-direction: column;

		height: 100%;

		row-gap: rem(8)
	}

	&_open {
		right: 0;
	}

	&__delivery {
		position: absolute;
		right: 0;
		bottom: 0;

		width: 100%;
	}
}

.Delivery {
	$p: &;

	padding: rem(30) rem(28) rem(26.54) rem(30.29);

	border-top-left-radius: rem(31);
	border-top-right-radius: rem(31);

	background-color: #222222;

	font-weight: 600;

	&__title {
		font-size: rem(18);
	}

	&__price {
		font-size: rem(26);
	}

	&__discoount {

	}

	&__button {
		display: flex;
		align-items: center;
		column-gap: rem(4);

		justify-content: center;

		width: 100%;

		padding: rem(23.59) 0 rem(24.58) 0;

		color: #000;

		border-radius: rem(63);
		background-color: #FCB852;
		&:hover {
			background-color: #f0ba6a;
		}
	}

	&__titleBox {
		display: flex;
		justify-content: space-between;

		margin-bottom: rem(26.59);
	}

	&_discount {
		#{$p} {
			&__totalPrice {
				text-decoration: line-through;
			}
		}
	}

	&__totalPrice, &__discountPrice {
		font-size: rem(20)
	}
}