.Button {
	display: inline-flex;
	justify-content: center;

	height: rem(67);

	padding: 0 rem(20);

	text-align: center;

	border: rem(2) solid #fff;

	border-radius: rem(63);

	font-size: rem(16);
	// font-weight: 500;
}